body, h1 {
  font-family: "Manrope", sans-serif;
}

body {
  font-size: $font;
  background-color: $c-body-bkgd;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


h1 {
  color: $c-secondary;
  font-size: 0.4em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 600;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $c-secondary;
  border: none;
  border-radius: 5em;
  height: 5em;
  width: 5em;
}