@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

$c-primary: hsl(193, 38%, 86%);
$c-secondary: hsl(150, 100%, 66%);
$c-neutral-a: hsl(217, 19%, 38%);
$c-main-bkgd: hsl(217, 19%, 24%);
$c-body-bkgd: hsl(218, 23%, 16%);

$font: 28px;